@import './styles/constants.scss';

@font-face {
    font-family: pixel;
    src: url("https://dl.dropboxusercontent.com/s/hsdwvz761xqphhb/pixel.ttf");
  }
  
body {
    background-color: $background-01;
}

canvas {
    background-color: rgb(48, 48, 48);
}